<div>
    <div class="container">
        <div class="row">
            <ul class="thumbnails">
                <div class="col-md-4">
                    <div class="thumbnail">
                      <a href="https://nodejs.org/"><img width="200" height="200" src="http://www.freedomjs.org/img/nodejs.png" alt="ALT NAME" class="img-responsive" /></a>
                        <div class="caption">
                            <h3>Node.js</h3>
                            <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="http://www.nodecopter.com/"><img width="200" height="200" src="modules/core/img/nodecopter-link.png" alt="ALT NAME" class="img-responsive" /></a>
                        <div class="caption">
                            <h3>Node Copter</h3>
                            <p>NodeCopter.js is a full day event where 15 - 60 developers team up in groups of 3 to program AR.Drone 2.0's</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="https://github.com/JBrookshaw/node-wARriorDrone"><img width="200" height="200" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_square-512.png" alt="ALT NAME" class="img-responsive" /></a>
                        <div class="caption">
                            <h3>Github Repo</h3>
                            <p>Github Repository with the latest working build.</p>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
