<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <h1>wARriorDrone Project</h1>
        <h5>Jeff Brookshaw @Winona State University</h5>
        <div>
            <h2>First Test Run 3/28/2015</h2>
            <object width="900" height="1000">
                <param name="movie" value="https://dl.dropboxusercontent.com/s/8dg4qgb1yjf2m0y/follows-black.swf">
                <embed src="https://dl.dropboxusercontent.com/s/8dg4qgb1yjf2m0y/follows-black.swf" width="900" height="1000">
                </embed>
            </object>
            <!--<object width="900" height="1000">-->
                <!--<param name="movie" value="https://dl.dropboxusercontent.com/s/p100bhx8j70oz9r/drone-color.swf">-->
                <!--<embed src="https://dl.dropboxusercontent.com/s/p100bhx8j70oz9r/drone-color.swf" width="900" height="1000">-->
                <!--</embed>-->
            <!--</object>-->
            <!--<object width="900" height="1000">-->
                <!--<param name="movie" value="https://dl.dropboxusercontent.com/s/8oabxifm3ns9hm9/follow-red-disc.swf">-->
                <!--<embed src="https://dl.dropboxusercontent.com/s/8oabxifm3ns9hm9/follow-red-disc.swf" width="900" height="1000">-->
                <!--</embed>-->
            <!--</object>-->
</section>
