<section data-ng-controller="HomeController" class="jumbotron">
    <h1>wARriorDrone Project</h1>
    <h5>Jeff Brookshaw @Winona State University</h5>
    <div class="row">
        <h2>About</h2>
    <div class="col-md-6">
        <img width="100%" src="modules/core/img/poster-pic.png" alt="Drone poster pic">
        <p class="caption">WSU Undergraduate Research Seminar Poster Presentation</p>
    </div>
    <div class="col-md-6">
        <p>Welcome the wARriorDrone project! The wARriorDrone web application enables any
            AR. Drone 2.0 to track and follow colored objects with a user friendly interface, that can be anything
            from a t-shirt to a frisbee as shown in the <a href="/#!/videos">videos.</a>
            The application is built using node.js to send flight commands and stream data from the AR. Drone's sensors, Angular.js is used
            to bind control variables in the front end to the back end drone commands.
        </p >
    </div>
    </div>
    <div class="row">
        <h2>Presentations</h2>
    <div class="col-md-6">
        <p >The application was created for the Winona State University Undergraduate Research Seminar, I presented my application on two separate occasions. First at the WSU under graduate research poster
        presenation conference, I then preformed a live demo for a full house at the WSU Computer Science Research Conference for which I received the CS award for best research.</p>
    </div>
    <div class="col-md-6">
        <img width="100%" src="modules/core/img/dronepresentations.jpg" alt="Drone poster pic">
        <p class="caption">WSU Computer Science Research Conference</p>
    </div>
    </div>
</section>
